@import './base.css';
@import "bootstrap-icons/font/bootstrap-icons.css";
/*@import "tailwindcss";*/

#app {
    font-weight: normal;
    /*max-height: 100vh;*/
    background-color: rgba(235,235,235);
}

a{
    text-decoration: none !important;
    color: var(--color-text);
    margin: 0;

}

h1, ul{
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}
